<div class="jumbotron text-center">
  <h1 class="display-4">Hola bienvenido</h1>
  <p class="lead">Aqui podrás usar herramientas para agregar, editar, borrar, etc. Los pedidos que hagamos.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">    
    <a [routerLink]="['/categorias']"  class="btn btn-info mr-3 btn-lg">Categorias</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/productos']" role="button">Productos</a>
  </p>
</div>